language: node_js
node_js:
  - "0.11"
  - "0.10"
  - "0.8"
  - "0.6"
before_install:
  - "./node_modules/.bin/lessc -x static/style/layout.less > static/style/layout.css"
  - "./node_modules/.bin/forever start app.js"
services:
  - mongodb
